//  ==========
//  = Responsiveness for the HairPress HTML template =
//  ==========

@media (min-width: 1679px) {
  .main-content {
    background: image-url("hair.jpg") 0 45px no-repeat;
    min-height: 197px;
  }
}

@media (min-width: 1200px) {
  .navbar .nav > li a,
  .navbar .nav > li.active > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}


@media (max-width: 979px) {
  .nav-collapse {
    float: none;
  }
  .slider-title {
    display: none;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .fullwidthbanner-container .opening-time {
    right: auto;
    left: 50%;
    margin-left: -108px;
    top: 40px;
  }
  .social-icons {
    left: 50%;
    margin-left: -51px;
    right: auto;
  }

  // navigation
  .nav-collapse .dropdown-menu {
    display: block;
  }
  .navbar {
    font-size: 14px;
  }
  .navbar .nav > li {
    border-bottom: 1px solid #414141;

    &.active > a {
      background: none;
      border-bottom: none;
      padding: 9px 14px;
    }
    &.dropdown > a,
    &.dropdown > a:hover {
      background-position: 97% center;
      background-repeat: no-repeat;
    }
  }
  .dropdown-menu > li {
    border: none;

    > a {
      font-size: 12px;
      font-family: $sansFontFamily;
      color: darken($white, 10%);
      text-transform: none !important;
      font-weight: normal !important;
    }
  }
  .nav-collapse .dropdown-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: $white;
  }
  .navbar .btn-large {
    width: auto;
    float: none;
    display: block;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
  }

  .fullwidthbanner-container {
    margin-left: -20px;
    margin-right: -20px;
    width: auto !important;
  }

  .title-area {
    padding-top: 15px;
    padding-bottom: 15px;
    h1 {
      font-size: 44px;
    }
    .social-icons {
      position: static;
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  // pictures
  .picture {
    max-width: 50%;
  }

  // slider
  .slider .row,
  .fullwidthbanner-container .row {
    position: static;
  }

  // rows
  div[class*="span"] {
    margin-bottom: 33px;
  }

  // nav icons
  // nav.arrows a {
  //   &.nav-left {
  //     @include icons-sprite(nav-mob-left);
  //   }
  //   &.nav-right {
  //     @include icons-sprite(nav-mob-right);
  //   }
  // }
  // .dark-stripe .lined a {
  //   &.nav-left {
  //     @include icons-sprite(nav-mob-left-white);
  //   }
  //   &.nav-right {
  //     @include icons-sprite(nav-mob-right-white);
  //   }
  // }

  //footer
  .foot,
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .pull-right {
    float: none;
  }

  // title area
  .title-area,
  .breadcrumbs-container {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-area h1 {
    font-size: 33px;
  }

  .breadcrumbs-container [class*="span"] {
    margin-bottom: 0;
  }

  //forms
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include box-sizing(content-box);
    min-height: 20px;
  }
}

@media (max-width: 480px) {
  // pictures
  .picture {
    max-width: 100%;
  }
}